{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'Home/css/Home.css' %}">
  <div>
    <table>
      <tr>
        <td><img src="{% static 'Home/img/тату/тату_1.jpg' %}" width="200" height="250" ></td>
        <td><img src="{% static 'Home/img/тату/тату_2.jpg' %}"width="200" height="250" > </td>
      </tr>
      <tr>
        <td><img src="{% static 'Home/img/тату/тату_3.jpg' %}" width="200" height="250" ></td>
        <td><img src="{% static 'Home/img/тату/тату_4.jpg' %}"width="200" height="250" > </td>
       </tr>
      <tr>
      <td><img src="{% static 'Home/img/тату/тату_5.jpg' %}" width="200" height="250" ></td>
        <td><img src="{% static 'Home/img/тату/тату_6.jpg' %}"width="200" height="250" > </td>
       </tr>
      <tr>
         <td><img src="{% static 'Home/img/тату/тату_7.jpg' %}" width="200" height="250" ></td>
        <td><img src="{% static 'Home/img/тату/тату_8.jpg' %}"width="200" height="250" > </td>
        </tr>
      <tr>
      <td><img src="{% static 'Home/img/тату/тату_9.jpg' %}" width="200" height="250" ></td>
        <td><img src="{% static 'Home/img/тату/тату_10.jpg' %}"width="200" height="250" > </td>
        </tr>
      <tr>
      <td><img src="{% static 'Home/img/тату/тату_11.jpg' %}" width="200" height="250" ></td>
        <td><img src="{% static 'Home/img/тату/тату_12.jpg' %}"width="200" height="250" > </td>
        </tr>
      <tr>
        <td><img src="{% static 'Home/img/тату/тату_13.jpg' %}"width="200" height="250" > </td>
        </tr>
      </tr>>
    </table>
  </div>>
{% endblock %}